@model IEnumerable<SecureSphere.Models.Detection>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    <h1>Detections</h1>

    <table class="table table-light w-75 table-bordered table-hover table-sm table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WeaponType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confidence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Camera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>

                <th>
                    Properties
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeaponType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Confidence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Camera.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td class="btn-group-sm">
                        <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>

