@model SecureSphere.Models.Branch

@{
    ViewData["Title"] = "Details";
}

<h1>Branch Details</h1>

<div>
    <hr />
    <table class="table table-bordered table-striped w-50">
        <thead>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Address)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Client)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Address)</td>
                <td>@Html.DisplayFor(model => model.Client.Name)</td>
            </tr>
        </tbody>
    </table>

</div>
<div class="mb-md-2">
    <a class="btn btn-outline-secondary btn-lg active navbar-text text-capitalize fs-6 fw-bold" asp-controller="Cameras" asp-action="Create" asp-route-BranchID="@Model.ID" style="color: #90AFC5">Add Camera</a>
</div>

<table class="table table-light w-75 table-bordered table-hover table-sm table-responsive">
    <tr>
        <th>Cameras</th>
        <th>IP Address</th>
        <th>Info</th>
    </tr>
    @foreach (Camera camera in ViewBag.Cameras)
    {
        <tr>
            <td>@camera.Name</td>
            <td>@camera.IpAddress</td>
            <td class="btn-group-sm">
                <a class="btn btn-outline-warning btn-sm active navbar-text text-capitalize fs-6 fw-bold"  asp-controller="Cameras" asp-action="Edit" asp-route-id="@camera.ID">Edit Camera</a> |
                <a class="btn btn-outline-info btn-sm active navbar-text text-capitalize fs-6 fw-bold" asp-controller="Cameras" asp-action="Details" asp-route-id="@camera.ID">Details</a> |
                <a class="btn btn-outline-danger btn-sm active navbar-text text-capitalize fs-6 fw-bold" asp-controller="Cameras" asp-action="Delete" asp-route-id="@camera.ID">Delete</a>
            </td>
        </tr>
    }
</table>


<div class="mb-md-2">
    <a class="btn btn-outline-secondary btn-lg active navbar-text text-capitalize fs-6 fw-bold" asp-controller="Users" asp-action="Create" asp-route-BranchID="@Model.ID" style="color: #90AFC5">Add User</a>
</div>

<table class="table table-light w-75 table-bordered table-hover table-sm table-responsive">
    <tr>
        <th>Users</th>
        <th>Emails</th>
        <th>Info</th>
    </tr>
    @foreach (ApplicationUser user in ViewBag.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td class="btn-group-sm">
                <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit User</a> |
                <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">Details</a> |
                <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>

        </tr>
    }
</table>
<div>
    <a class="btn btn-outline-warning btn-lg active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Edit" asp-route-id="@Model?.ID">Edit Branch</a> |
    <a class="btn btn-outline-danger btn-lg active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Clients" asp-action="Details" asp-route-id="@Model.ClientID">Back to List</a>
   
</div>
