@model IEnumerable<SecureSphere.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1>Clients Branches</h1>

<li>
    <button class="btn navbar-text text-capitalize fs-6 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#usersCollapse" aria-expanded="false" style="color:#90AFC5">
        Branch Users
    </button>
    <ul class="collapse" id="usersCollapse" style="background-color : #FDF6F6;color:#90AFC5 ">
        <li><a class="nav-link navbar-text text-capitalize fs-6 fw-bold" asp-area="" asp-controller="Users" asp-action="index" style="color:#90AFC5">Show Users</a></li>
        <li><a class="nav-link navbar-text text-capitalize fs-6 fw-bold" asp-area="" asp-controller="Users" asp-action="create" style="color:#90AFC5">Create Users</a></li>
    </ul>
</li>
<form asp-controller="Branches" asp-action="Index" id="searchForm">
    @*     <p>
    Search <input class="search-bar" type="text" name="SearchString" id="searchInput" value="@ViewBag.SearchString" placeholder="Enter Client Name" />
    </p> *@
    <div class="input-group w-50">
        <input type="search" class="form-control rounded" name="SearchString" id="searchInput" value="@ViewBag.SearchString" placeholder="Enter Client Name" aria-label="Search" aria-describedby="search-addon" />

    </div>
</form>
<table class="table table-light w-50 table-bordered table-hover table-sm table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                Properties
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td class="btn-group-sm">
                    <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function() {
            var delay = (function(){
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            $('#searchInput').on('input', function() {
                var searchString = $(this).val();
                delay(function() {
                    $.ajax({
                        url: '@Url.Action("Index", "Branches")',
                        data: { SearchString: searchString },
                        success: function(result) {
                            $('#searchResults').html($(result).find('#searchResults').html());
                        }
                    });
                }, 300); // Wait for 300ms after the user stops typing
            });
        });
    </script>
}