@model SecureSphere.Models.Client
@{
    ViewData["Title"] = "Client Details";
}
<link rel="stylesheet" href="~/css/client-styles.css" asp-append-version="true" />
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title mb-4">Client Details</h1>
            <div class="row mb-3">
                <div class="col-sm-3"><strong>@Html.DisplayNameFor(model => model.Name)</strong></div>
                <div class="col-sm-9">@Html.DisplayFor(model => model.Name)</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3"><strong>@Html.DisplayNameFor(model => model.ID)</strong></div>
                <div class="col-sm-9">@Html.DisplayFor(model => model.ID)</div>
            </div>

            <h2 class="mt-4 mb-3">Branches</h2>
            <a class="btn btn-outline-secondary btn-lg active navbar-text text-capitalize fs-6 fw-bold mb-2" asp-controller="Branches" asp-action="Create" asp-route-ClientID="@Model.ID">Add Branch</a>

            <div class="table-responsive client-table">
                <table class="table table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Branch branch in ViewBag.Branchs)
                        {
                            <tr>
                                <td>@branch.Address</td>
                                <td class="btn-group-sm">
                                    <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Branches" asp-action="Edit" asp-route-id="@branch.ID">Edit</a>
                                    <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Branches" asp-action="Details" asp-route-id="@branch.ID">Details</a>
                                    <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Branches" asp-action="Delete" asp-route-id="@branch.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="mt-4">
                <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Edit" asp-route-id="@Model?.ID">Edit Client</a>
                <a class="btn btn-outline-danger btn-lg active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>