@model SecureSphere.Models.Client
@{
    ViewData["Title"]="Details";
}


<h1>Client Details</h1>

<div>
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</th>
                <th class="col-sm-10">@Html.DisplayFor(model => model.Name)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ID)</td>
                <td>@Html.DisplayFor(model => model.ID)</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="mb-md-2">
    <a class="btn btn-outline-secondary btn-lg active navbar-text text-capitalize fs-6 fw-bold" asp-controller="Branches" asp-action="Create" asp-route-ClientID="@Model.ID" style="color: #90AFC5">Add Branch</a>
</div>

<div>

<table class="table table-light w-75 table-bordered table-hover table-sm table-responsive">
    <tr>
        <th>Branches</th>
        <th>Info</th>
    </tr>
    @foreach(Branch branch in ViewBag.Branchs)
    {
        <tr>
            <td>@branch.Address</td>
            <td class="btn-group-sm">
                <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Branches" asp-action="Edit" asp-route-id="@branch.ID">Edit</a> |
                <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Branches" asp-action="Details" asp-route-id="@branch.ID">Details</a> |
                <a class="btn btn-outline-secondary btn-sm active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-controller="Branches" asp-action="Delete" asp-route-id="@branch.ID">Delete</a>
            </td>
        </tr>
    }
</table>

</div>
<div>
    <a class="btn btn-outline-secondary btn-lg active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Edit" asp-route-id="@Model?.ID">Edit Client</a> |
    <a class="btn btn-outline-danger btn-lg active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Index">Back to List</a>
</div>